/* We have to do this because the Game Course should not be padded. */
#master-game-container {
    -fx-background-color: #2b2a33ff;
}

#information-container {
    -fx-min-width: 450px;
    -fx-padding: 12px 12px 12px 12px;
    -fx-background-color: linear-gradient(#2b2a33ff, #2a2941ff, #2c2369ff);
}

#information-container-header {
    -fx-min-height: 50px;
    -fx-alignment: center;
    -fx-background-color: #252424;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #ffffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

}

#ui-header {
    -fx-min-height: 50px;
    -fx-background-color: #421f1fff;
}

#ui-header-phase {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffffff;
    -fx-alignment: top-right;
}

#ui-header-game-state {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffffff;
    -fx-alignment: center;
}

#footer-container {
    -fx-min-height: 200px;
    -fx-background-color: linear-gradient(#313131, #2b2a33ff, #2b2a33ff, #2b2a33ff, #222026ff, #131317ff);
    -fx-padding: 12px 12px 12px 12px;
    -fx-border-style: solid none none none;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
}

#register-slots-label-container {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#upgrade-slots-label-container {
    -fx-alignment: center;
    -fx-text-alignment: center;
}


#ui-footer {
    -fx-min-height: 200px;
    -fx-background-color: #2d2d2dff;
    -fx-spacing: 12px;
    -fx-alignment: center-left;
    -fx-padding: 12px 12px 12px 12px;
}

#ui-footer-register-slots {
    -fx-spacing: 12px;
    -fx-alignment: center-left;
}

#register-container {
}

#got-register-container {
}

#upgrade-container {
}

#register-hbox {
    -fx-spacing: 8px;
    -fx-alignment: center-left;
}

#register-wrapper {
    -fx-spacing: 8px;
    -fx-alignment: center-left;
}

#got-register-hbox {
    -fx-spacing: 8px;
    -fx-alignment: center-left;
}

#upgrade-slot-hbox {
    -fx-spacing: 8px;
    -fx-alignment: center-left;
}

.register-slot {
    -fx-background-color: #3900ff33;
    -fx-border-color: #000000ff;
    -fx-border-width: 1px;

    -fx-cursor: hand;
}

.register-slot:hover {
    -fx-background-color: #27029d33;

    -fx-cursor: hand;
}

.register-slot-active {
    -fx-background-color: #ff0000ff;
    -fx-border-color: #000000ff;
    -fx-border-width: 1px;
}

.register-slot-disabled {
    -fx-background-color: #606060cc;
    -fx-border-color: #3f0909;
    -fx-border-width: 1px;
}

.register-slot-available {
    -fx-background-color: #ffffffff;
    -fx-border-color: #000000ff;
    -fx-border-width: 1px;

    -fx-cursor: hand;
}

.register-slot-available:hover {
    -fx-background-color: #ffffff99;

    -fx-cursor: hand;
}

#got-register-cards-hbox {
    -fx-spacing: 3px;
    -fx-alignment: center-left;
}

.got-register-cards-vbox {
    -fx-spacing: 3px;
    -fx-alignment: center-left;
}

#ui-footer-shop-slots {
    -fx-spacing: 12px;
    -fx-alignment: center-right;
}

#got-upgrade-cards {
    -fx-spacing: 3px;
    -fx-alignment: center-right;
}

.got-upgrade-cards-vbox {
    -fx-spacing: 3px;
    -fx-alignment: center-left
}

.got-upgrade-cards-hbox{
    -fx-spacing: 3px;
    -fx-alignment: center-left
}

#player-container {
    -fx-spacing: 6px;
}

.player-box {
    -fx-min-width: 80px;
    -fx-max-width: 80px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;

    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

    -fx-spacing: 5px;

    -fx-alignment: top-center;
}
.player-box-inactive {
    -fx-border-color: #2b2a33ff;
    -fx-background-color: #2b2a33ff;
}

.player-box-active {
    -fx-border-color: #ff0000ff;
}

.player-box-inSelection {
    -fx-border-color: #2b2a33ff;
    -fx-background-color: #2b2a33ff;
}

.player-box-selected {
    -fx-border-color: #39FF14;
}

.player-box:hover {
    -fx-background-color: #00000066;
}

.player-box-text {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.player-information-container {
    -fx-background-color: #00000072;
    -fx-padding: 5px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

#course-container {
}

#course-scroll-pane {
    -fx-background: #ff00ff02;
}

#course-scroll-pane-content {
}

.tile {
    -fx-min-width: 64px;
    -fx-max-width: 64px;
    -fx-min-height: 64px;
    -fx-max-height: 64px;
}

.tile-after:hover {
    -fx-background-color: #00000066;
    -fx-cursor: hand;
}

#chat-container {
    -fx-min-width: 350px;
    -fx-min-height: 220px;
    -fx-max-width: 350px;
    -fx-max-height: 220px;
    -fx-spacing: 8px;
    -fxbackground: transparent;
}

#chat-scroll-pane {
    -fx-border-radius: 0px;
    -fx-border-width: 3px;
    -fx-background: #c2c0c9;
    -fx-background-color: #ffffffff;
}

#chat-scroll-pane-inner {
    -fx-min-width: 320px;
    -fx-max-width: 320px;
    -fx-padding: 3px 3px 3px 3px;
    -fx-background: #c2c0c9;
}

#chat-input-text-field {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-text-fill: #f5f5f5ff;
    -fx-background-color: #2b2a33ff;
    -fx-border-color: #ffffff;
}

.lobby-msg-wrapper {
    -fx-spacing: 8px;
}

.lobby-msg-whisper,
.lobby-msg-server,
.lobby-msg-client,
.lobby-msg {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-text-fill: #000000ff;
    -fx-wrap-text: true;
}

.lobby-msg-whisper {
    -fx-text-fill: #000000b2;
}

.lobby-msg-server {
    -fx-text-fill: #a17800;
}

.lobby-msg-client {
    -fx-text-fill: #0078a1;
}

#reboot-dialog-container {
    -fx-background-color: #2b2a33f2;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 900px;
    -fx-min-height: 300px;
    -fx-max-width: 900px;
    -fx-max-height: 300px;
}

#upgrade-dialog-container {
    -fx-background-color: #2b2a33f2;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 700px;
    -fx-min-height: 500px;
    -fx-max-width: 130px;
    -fx-max-height: 600px;
}

#memory-swap-dialog-container {
    -fx-background-color: #2b2a33f2;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 500px;
    -fx-min-height: 400px;
    -fx-max-width: 500px;
    -fx-max-height: 400px;
}

#reboot-dialog-body {
    -fx-spacing: 8px;
    -fx-alignment: center;
}

#upgrade-shop-available-cards {
    -fx-spacing: 8px;
    -fx-alignment: center;
}

#upgrade-shop-bought-cards {
    -fx-spacing: 8px;
    -fx-alignment: center;
}

#upgrade-shop-form {
    -fx-spacing: 8px;
    -fx-alignment: center;
}

#upgrade-shop-form-wrapper {
    -fx-alignment: center;
}

#upgrade-shop-available-cards-wrapper {
}

.reboot-btn {
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-wrap-text: false;
}

.upgrade-btn {
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-wrap-text: false;
}

#phase-update-container {
    -fx-background-color: #2b2a33f2;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 400px;
    -fx-min-height: 150px;
    -fx-max-width: 400px;
    -fx-max-height: 150px;
}

#energy-update-container {
    -fx-background-color: #2b2a33f2;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 450px;
    -fx-min-height: 75px;
    -fx-max-width: 450px;
    -fx-max-height: 75px;
}

#draw-damage-container {
    -fx-background-color: #2b2a33f2;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 500px;
    -fx-min-height: 150px;
    -fx-max-width: 500px;
    -fx-max-height: 150px;
}


#damage-card-selection-dialog-container{
    -fx-background-color: #2b2a33f2;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 600px;
    -fx-min-height: 300px;
    -fx-max-width: 1600px;
    -fx-max-height: 300px;
}

#damage-card-selection-dialog-body{
    -fx-spacing: 8px;
    -fx-alignment: center;
}

#quick-tip-popup {
    -fx-background-color: #171717e5;
    -fx-padding: 12px 12px 12px 12px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
    -fx-border-width: 1px;
}

.upgrade-shop-dialog-splitter {
    -fx-border-width: 2px;
    -fx-border-color: #181818ff;
}

.vertical-shop-dialog-splitter {
    -fx-border-width: 2px;
    -fx-border-color: #181818ff;
    -fx-min-height: 10px;
}

#upgrade-shop-bought-cards-horizontal-splitter-wrapper {
    -fx-spacing: 8px;
}

#upgrade-shop-bought-cards-vertical-splitter-wrapper {
    -fx-spacing: 8px;
}
