/* We have to do this because the Game Course should not be padded. */
#master-game-container {
    -fx-background-color: #2b2a33ff;
}

#information-container {
    -fx-min-width: 450px;
    -fx-padding: 12px 12px 12px 12px;
    -fx-background-color: #0c0a5cff;
}

#ui-header {
    -fx-min-height: 50px;
    -fx-background-color: #421f1fff;
}

#ui-header-phase {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffffff;
    -fx-alignment: top-right;
}

#ui-header-game-state {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffffff;
    -fx-alignment: center;
}

#footer-container {
    -fx-min-height: 200px;
    -fx-background-color: #490000;
    -fx-padding: 12px 12px 12px 12px;
}

#ui-footer {
    -fx-min-height: 200px;
    -fx-background-color: rgb(45, 45, 45);
    -fx-spacing: 12px;
    -fx-alignment: center-left;
    -fx-padding: 12px 12px 12px 12px;
}

#ui-footer-register-slots {
    -fx-spacing: 12px;
    -fx-alignment: center-left;
}

#register-container {
}

#register-hbox {
    -fx-spacing: 8px;
    -fx-alignment: center-left;
}

.register-slot {
    -fx-background-color: rgba(57, 0, 255, 0.2);
    -fx-border-color: #000000ff;
    -fx-border-width: 1px;
}

.register-slot:hover {
    -fx-background-color: rgba(39, 2, 157, 0.2);
}

.register-slot-active {
    -fx-background-color: #ff0000ff;
    -fx-border-color: #000000ff;
    -fx-border-width: 1px;
}

.register-slot-disabled {
    -fx-background-color: rgba(96, 96, 96, 0.8);
    -fx-border-color: #3f0909;
    -fx-border-width: 1px;
}

.register-slot-available {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000ff;
    -fx-border-width: 1px;
}

.register-slot-available:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

#got-register-cards-hbox {
    -fx-spacing: 3px;
    -fx-alignment: center-left;
}

.got-register-cards-vbox {
    -fx-spacing: 3px;
    -fx-alignment: center-left;
}

#ui-footer-shop-slots {
    -fx-spacing: 12px;
    -fx-alignment: center-right;
}

#got-upgrade-cards {
    -fx-spacing: 3px;
    -fx-alignment: center-right;
}

.got-upgrade-cards-vbox {
    -fx-spacing: 3px;
    -fx-alignment: center-left
}

.got-upgrade-cards-hbox{
    -fx-spacing: 3px;
    -fx-alignment: center-left
}

#player-container {
    -fx-spacing: 6px;
}

.player-box {
    -fx-min-width: 80px;
    -fx-max-width: 80px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;

    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;

    -fx-alignment: top-center;
}
.player-box-inactive {
    -fx-border-color: #2b2a33ff;
    -fx-background-color: #2b2a33ff;
}

.player-box-active {
    -fx-border-color: #ff0000ff;
}

.player-box-inSelection {
    -fx-border-color: #2b2a33ff;
    -fx-background-color: #2b2a33ff;
}

.player-box-selected {
    -fx-border-color: #39FF14;
}

.player-box:hover {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.player-box-text {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.player-information-container {
    -fx-background-color: rgba(0, 0, 0, 0.45);
    -fx-padding: 5px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

#course-container {
}

#course-scroll-pane {
    -fx-background: rgba(255, 0, 255, 0.01);
}

#course-scroll-pane-content {
}

.tile {
    -fx-min-width: 64px;
    -fx-max-width: 64px;
    -fx-min-height: 64px;
    -fx-max-height: 64px;
}

.tile-after:hover {
    -fx-background-color: rgba(176, 2, 2, 0.4);
}

#chat-container {
    -fx-min-width: 350px;
    -fx-min-height: 220px;
    -fx-max-width: 350px;
    -fx-max-height: 220px;
    -fx-spacing: 8px;
    -fxbackground: transparent;
}

#chat-scroll-pane {
    -fx-border-radius: 0px;
    -fx-border-width: 3px;
    -fx-background: #c2c0c9;
    -fx-background-color: #ffffffff;
}

#chat-scroll-pane-inner {
    -fx-min-width: 320px;
    -fx-max-width: 320px;
    -fx-padding: 3px 3px 3px 3px;
    -fx-background: #c2c0c9;
}

#chat-input-text-field {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-text-fill: #f5f5f5ff;
    -fx-background-color: #2b2a33ff;
    -fx-border-color: #ffffff;
}

.lobby-msg-wrapper {
    -fx-spacing: 8px;
}

.lobby-msg-whisper,
.lobby-msg-server,
.lobby-msg-client,
.lobby-msg {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-text-fill: #000000ff;
    -fx-wrap-text: true;
}

.lobby-msg-whisper {
    -fx-text-fill: #000000b2;
}

.lobby-msg-server {
    -fx-text-fill: #a17800;
}

.lobby-msg-client {
    -fx-text-fill: #0078a1;
}
