#form-container {
    -fx-alignment: center;
}

#interface-wrapper {
    -fx-spacing: 16px;
    -fx-alignment: center;
}

#form-scroll-pane {
    -fx-background-color: -std-background-color;
    -fx-background: -std-background-color;
    -fx-border-color: #ffffffff;

    -fx-max-width: 700px;
    -fx-min-height: 300px;
    -fx-max-height: 300px;
}

#form-area {
    -fx-alignment: center;
    -fx-spacing: 16px;
    -fx-background-color: rgba(0, 34, 255, 0.1);
}

#player-name-form-container {
    -fx-spacing: 8px;
    -fx-alignment: center;
}

#bot-container {
    -fx-alignment: center;
    -fx-max-width: 700px;
    -fx-spacing: 16px;

    -fx-background-color: rgba(0, 34, 255, 0.1);
    -fx-border-color: #ffffffff;
    -fx-padding: 16px 16px 16px 16px;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-background-radius: 3px;
}

#player-in-lobby-hbox {
    -fx-spacing: 8px;
    -fx-alignment: center;
}

#ready-label-container {
    -fx-spacing: 8px;
}

#input-text-field {
    -fx-min-width: 100px;
    -fx-max-width: 200px;

    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-text-fill: -primary-text-fill;

    -fx-background-color: -std-background-color;

    -fx-border-color: #ffffff;

    -fx-pref-width: 200px;
}

#player-robot-selector-area {
    -fx-spacing: 16px;
    -fx-alignment: center;
}

.player-robot-selector-hbox {
    -fx-max-width: 650px;
    -fx-spacing: 16px;
    -fx-alignment: center;
}

.player-robot-selector-vbox {
    -fx-padding: 12px 12px 12px 12px;
    -fx-spacing: 8px;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-background-radius: 3px;
    -fx-alignment: center;
    -fx-min-width: 230px;
}

#player-robot-selector-container {
    -fx-alignment: top-center;
    -fx-spacing: 16px;
}

#player-robot-selector-wrapper {
    -fx-spacing: 5px;
}

#player-robot-player-name-wrapper {
    -fx-alignment: center;
}

#server-course-selector-area {
    -fx-spacing: 16px;
    -fx-alignment: center;
}

.server-course-selector-hbox {
    -fx-spacing: 16px;
    -fx-alignment: center;
}

#lobby-msg-container {
    -fx-min-width: 350px;
    -fx-min-height: 220px;
    -fx-max-width: 350px;
    -fx-max-height: 220px;
    -fx-spacing: 8px;
    -fx-background-color: transparent;
}

#lobby-msg-scroll-pane {
    -fx-border-radius: 0px;
    -fx-border-width: 3px;
    -fx-background: #e5e5e5ff;
    -fx-background-color: #ffffff;
}

#lobby-msg-scroll-pane-inner {
    -fx-min-width: 320px;
    -fx-max-width: 320px;
    -fx-background-color: transparent;
    -fx-background: transparent;
}

#lobby-msg-input-text-field {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-text-fill: -primary-text-fill;
    -fx-background-color: -std-background-color;

    -fx-border-color: #ffffff;
}

.lobby-msg-wrapper {
    -fx-spacing: 8px;
}

.lobby-msg-whisper,
.lobby-msg-server,
.lobby-msg-client,
.lobby-msg {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-text-fill: #000000ff;
    -fx-wrap-text: true;
}

.lobby-msg-whisper {
    -fx-text-fill: #000000b2;
}

.lobby-msg-server {
    -fx-text-fill: #a17800;
}

.lobby-msg-client {
    -fx-text-fill: #0078a1;
}

#player-list-container {
    -fx-spacing: 4px;
}

.player-in-session-label-not-ready,
.player-in-session-label-ready {
    -fx-padding: 4px 4px 4px 4px;
    -fx-background-color: rgba(0, 255, 0, 0.15);
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-text-fill: -primary-text-fill;
}

.player-in-session-label-not-ready {
    -fx-background-color: rgba(255, 0, 0, 0.15);
}

.player-in-session-label-client {
    -fx-border-color: #ffffffff;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-background-radius: 3px;
}

.player-in-session-label-ready-agent {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-text-fill: -primary-text-fill;
}

.player-in-session-hbox-agent {
    -fx-background-color: rgba(0, 255, 0, 0.15);
    -fx-alignment: center;
    -fx-padding: 4px 4px 4px 4px;
}

.virtual-v-space {
    -fx-min-height: 80px;
}
