<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

    <Properties>

        <Property name="path">logs</Property>

    </Properties>

    <Appenders>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%d{mm:ss.SSS} [%t] %highlight{%-5level} %logger{1} - %highlight{%msg}%n" />
        </Console>

        <RollingFile name="wrapper" fileName="${path}/wrapper.log" filePattern="${path}/$${date:yyyy-MM-dd}/wrapper-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="25 MB" />
            </Policies>
            <DefaultRolloverStrategy max="16">
                <Delete basePath="${path}" maxDepth="3">
                    <IfLastModified age="32d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="server" fileName="${path}/sv.log" filePattern="${path}/$${date:yyyy-MM-dd}/sv-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="25 MB" />
            </Policies>
            <DefaultRolloverStrategy max="16">
                <Delete basePath="${path}" maxDepth="3">
                    <IfLastModified age="32d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="client" fileName="${path}/cl.log" filePattern="${path}/$${date:yyyy-MM-dd}/cl-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="25 MB" />
            </Policies>
            <DefaultRolloverStrategy max="16">
                <Delete basePath="${path}" maxDepth="3">
                    <IfLastModified age="32d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="sep" level="trace" additivity="true">
            <AppenderRef level="trace" ref="wrapper" />
        </Logger>

        <Logger name="sep.server" level="trace" additivity="true">
            <AppenderRef level="trace" ref="server" />
        </Logger>

        <Logger name="sep.view" level="trace" additivity="true">
            <AppenderRef level="trace" ref="client" />
        </Logger>

        <Root level="trace">
            <AppenderRef level="debug" ref="stdout" />
        </Root>

    </Loggers>

</Configuration>
