#config-container {
    -fx-spacing: 16px;
    -fx-alignment: center;
    -fx-max-width: 400px;
    -fx-max-height: 450px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #000000ff;
    -fx-background-color: #ffffff0c;
}

.server-address-container {
    -fx-spacing: 8px;
    -fx-alignment: center;
}

.min-remote-players-container {
    -fx-spacing: 8px;
    -fx-alignment: center;
}

.text-field-min-remote-players,
.text-field-port,
.text-field-host,
.text-field {
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-text-fill: -primary-text-fill;

    -fx-background-color: -std-background-color;

    -fx-border-color: #ffffff;

    -fx-pref-width: 200px;
}

.text-field-port  {
    -fx-min-width: 75px;
    -fx-max-width: 75px;
}

.text-field-host {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

.text-field-min-remote-players {
    -fx-min-width: 50px;
    -fx-max-width: 50px;
}

#temp-text-field {
    -fx-font-size: 0px;
    -fx-font-weight: 100;
    -fx-text-fill: -std-background-color;
    -fx-background-color: -std-background-color;
    -fx-border-color: -std-background-color;
    -fx-max-width: 0px;
    -fx-max-height: 0px;
}

.h-spacer {
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}
