#btn-container {
    -fx-spacing: 16px;
    -fx-alignment: center;
    -fx-max-width: 500px;
    -fx-max-height: 400px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #000000ff;
    -fx-background-color: #ffffff0c;
}
