#lobby-msg-container {
    -fx-spacing: 16px;
}

#lobby-msg-scroll-pane {
    -fx-padding: 8px 8px 8px 8px;

    -fx-border-radius: 0px;
    -fx-border-width: 5px;
    -fx-border-color: #000000ff;
}

#lobby-msg-hbox {
    -fx-spacing: 8px;
}

#lobby-msg-caller,
#lobby-msg-server,
#lobby-msg {
    -fx-font-size: 20px;
    -fx-font-weight: 400;
    -fx-text-fill: #000000ff;
    -fx-wrap-text: true;
}
#lobby-msg-caller {
    -fx-text-fill: #000000b2;
}
#lobby-msg-server {
    -fx-text-fill: #a17800;
}

#lobby-msg-input-container {
    -fx-spacing: 8px;
}

#lobby-msg-text-field {
    -fx-pref-height: 42px;
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-text-fill: -primary-text-fill;
    -fx-background-color: -std-background-color;
    -fx-border-color: -primary-text-fill;
    -fx-border-width: 2px;
    -fx-border-radius: 0px;
}

#current-players-container {
    -fx-min-width: 300px;
    -fx-max-width: 300px;
}

#current-players-list-container {
    -fx-spacing: 8px;
    -fx-padding: 8px 8px 8px 8px;
}

.lobby-player-container {
    -fx-background-color: #ffffff10;
}

.lobby-player-host,
.lobby-player {
    -fx-font-size: 20px;
    -fx-font-weight: 600;
    -fx-text-fill: -primary-text-fill;
}

.lobby-player {
    -fx-padding: 0px 0px 0px 8px;
}

.lobby-player-host {
    -fx-padding: 0px 0px 0px 8px;
    -fx-text-fill: #a17800;
}
